{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="w-100 mt-5 d-flex flex-column justify-content-center" style="">
  {% for beat in cart.beats.all %}
  <div class="mt-2" id="beat-item-{{ beat.beat.id }}">
    <div class="d-flex justify-content-center">

      <img src="{{ beat.beat.cover.url }}" class="" alt="..." style="width: 80px; height: 80px">
      <span class="ml-3 col-3 offset-1 d-flex align-items-center" style="font-weight: bold; font-size: 14px">{{ beat.beat.title|upper }}</span>
      <span class="ml-3 col-3 d-flex align-items-center" style="font-weight: bold; font-size: 14px">{{ beat.beat.price|upper }}</span>
      <span class="remove-cart-button d-flex align-items-center" data-slug="{{ beat.beat.slug }}" data-id="{{ beat.beat.id }}" style="font-weight: bold; font-size: 10px; text-decoration: none; cursor: pointer">REMOVE</span>
    </div>
  </div>
  {% endfor %}
<div class="d-flex mt-5 justify-content-center">
<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9E%D0%BF%D0%BB%D0%B0%D1%82%D0%B0%20%D0%B0%D0%B2%D1%82%D0%BE%D1%80%D1%81%D0%BA%D0%BE%D0%B3%D0%BE%20%D0%BC%D1%83%D0%B7%D1%8B%D0%BA%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D0%B0&targets-hint=&default-sum={{ request.session.total_price }}&button-text=11&payment-type-choice=on&mail=on&hint=&successURL=http%3A%2F%2Fkaizyproducer.com%2Ffetch_payment&quickpay=shop&account=41001972374867" width="423" height="250" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
</div>
</div>
<div class="exclusive-info modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Условия приобретения</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          После приобретения данных инструменталов вы получаете аудиофайлы без голосовой защиты в формате WAV, также инструменталы изымаются из продажи.
Автором инструменталов остается kaizyproducer ,инструменталы можно использовать в коммерческих целях неограниченно в том числе выгружать на цифровые площадки, например BOOM, iTunes и тд
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="cart-empty">

</div>

<script>
    $(document).ready(function() {
      // $('.cart-empty').css('display', 'none');
        $('.remove-cart-button').on('click', function (event) {
            event.preventDefault();
            beat_slug = $(this).attr('data-slug');
            beat_id = $(this).attr('data-id');
            data = {
                beat_slug: beat_slug
            };
            $.ajax({
                type: "GET",
                url: '{% url "remove_from_cart" %}',
                data: data,
                success: function (data) {
                    $('#cart-count').html(data.cart_total)
                    $('#beat-item-' + beat_id).remove();
                    $('#cart-total-price').html(parseFloat(data.cart_total_price).toFixed(2) + 'р');
                    if (parseInt(data.cart_total) === 0) {
                      $('.cart-normal').addClass('d-none')
                      $('.cart-normal').removeClass('d-flex')
                      $('.cart-empty').html(html)
                    }
                }
            })
        })
    });
    </script>
{% endblock %}
